@charset "utf-8";

.tab {
        font-size: 25px;
        font-family: 'Poiret One', cursive;
    }

.title h1 {
    margin-top: 6%;
    padding-top: 6%;
    font-size: 40px;
    font-family: 'Rajdhani', sans-serif;
}
.title h2 {
    font-size: 40px;
    font-family: "Hannari";
}
.title h3 {
    font-size: 40px;
    font-family: "Sawarabi Mincho";
}


/*tabの形状*/
.tab{
	display: flex;
	flex-wrap: wrap;
}
.tab li a{
	display: block;
	background:#ddd;
	margin:0 2px;
	padding:10px 20px;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
	background:#fff;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 400px) {
    @media screen and (max-width: 425px) {
.tab {
    display: -webkit-inline-box;
    flex-wrap: wrap;
    font-size: 30px;
    font-family: 'Poiret One', cursive;
}
body {
    background-image: url(image/background.jpg);
    background-position: right 59% bottom -13%;
    background-repeat: no-repeat;
    background-size: 53% auto;
}
    .title h1 {
        margin-top: 6%;
        padding-top: 6%;
        font-size: 25px;
        font-family: 'Rajdhani', sans-serif;
    }
    .title h2 {
        font-size: 25px;
        font-family: "Hannari";
    }
    .title h3 {
        font-size: 25px;
        font-family: "Sawarabi Mincho";
    }
    body {
        background-image: url(image/background.jpg);
        background-position: right 58% bottom -29%;
        background-repeat: no-repeat;
        background-size: 50% auto;
    }
}
